<form [formGroup]="myForm" novalidate>
  <div class="form-group">
    <label> Дом </label>
    <select
      #chosenHouse
      formControlName="house"
      (change)="chooseHouse(myForm.controls.house.value?.houseId)"
    >
      <option *ngFor="let house of houses" [ngValue]="house">
        {{ house.houseName }}
      </option>
    </select>
  </div>
  <p>Form value: {{ myForm.controls.house.value?.houseId }}</p>

  <div class="ng-autocomplete">
    <label>Помещение</label>
    <ng-autocomplete
      [data]="fullApartment"
      [searchKeyword]="keywordApartments"
      placeholder="Введите номер помещения"
      (selected)="selectEventApartments($event)"
      (inputChanged)="onChangeSearchApartments($event)"
      (inputFocused)="onFocusedApartments($event)"
      historyIdentifier="apartments"
      [itemTemplate]="itemTemplateApartments"
      [notFoundTemplate]="notFoundTemplateApartments"
    >
    </ng-autocomplete>

    <ng-template #itemTemplateApartments let-item>
      <a [innerHTML]="item.apartmentName"></a>
    </ng-template>

    <ng-template #notFoundTemplateApartments let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>

  <div class="ng-autocomplete">
    <label>Проживающий</label>
    <ng-autocomplete
      [data]="persons"
      [searchKeyword]="keyword"
      placeholder="Введите фамилию проживающего"
      (selected)="selectEvent($event)"
      (inputChanged)="onChangeSearch($event)"
      (inputFocused)="onFocused($event)"
      historyIdentifier="persons"
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate"
    >
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>
</form>
